body {
    background-color: #000000;
    color: #a3a3a3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

#login_page_container {
    align-content: center;
}

#main_title {
    text-align: center;
    font-size: xx-large;
}

#main_title_footer {
    text-align: center;
    font-size: small;
}

#user_input_fields {
    padding-top: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;     /* Center horizontally */
    justify-content: center; /* Center vertically if height is set */
    margin: auto;
}

label {
    font-size: small;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: inherit;
  background-color: #0f0f0f;
  transition: border-color 0.25s;
  box-shadow: 0px 0px 10px 4px rgba(149, 149, 149, 0.2);
  animation-name: deselected_input;
  animation-duration: 200ms;
  animation-fill-mode: backwards;
  outline: none;
}

input:hover, input:focus, button:hover {
  animation-name: selected_input;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@keyframes selected_input {
  from {
    box-shadow: 0px 0px 10px 4px rgba(183, 183, 183, 0.2);
  }
  to {
    box-shadow: 0px 0px 10px 4px rgba(183, 183, 183,  0.5);
  }
}

@keyframes deselected_input {
  to {
    box-shadow: 0px 0px 10px 4px rgba(183, 183, 183,  0.2);
  }
  from {
    box-shadow: 0px 0px 10px 4px rgba(183, 183, 183,  0.5);
  }
}